body {
  padding-top: 55px;
  padding-bottom:55px;
}

ul.form-error {
	list-style: none;
	margin:0;
	padding:0;
}

ul.form-error li {
	color:#d9534f;
}

.centered {
	text-align:center;
}

.mealfield {
	cursor:pointer;
}

.orderedmealfield {
	background-color:#DFF0D8 !important;
}

.mealfieldhilighted
{
	background-color:#DFF0D8 !important;
}

.orderedmealfield.orderedmealfieldhilighted
{
	background-color:#f2dede !important;
}

td.mealfield.mealfieldhovered
{
	background-color:#d9edf7 !important;
}

.navbar-default{
	background-color:#4A7FF7;
	background-image:none;
	border:none;
	box-shadow: 0px 8px 5px #888888;
}

.navbar-default .navbar-nav>li>a{
	color:#ffffff;
}
.navbar-default>.container-fluid{
	max-width:1140px;
}

.navbar-default .navbar-brand {
	color:#ffffff;
}

.p-descript{
	margin-top: 20px;
	padding-top: 10px;
}

.vcenter{
	margin-top: 23px;
	margin-bottom: 12px;
}

.frontpageDist{
    margin-bottom: 80px;
}

.frontpagePanel{
    border-bottom-color: darkgrey;
    box-shadow: #000000;
}
